#jinja2: lstrip_blocks: "True"
spec:
  destination:
    server: "{{ kube_cluster_url }}"
  source:
    repoURL: "{{ git_repository_url }}"
    targetRevision: {{ git_target_revision }}
apps:
  bookinfo:
    enabled: {{ ( bookinfo_enabled or ecommerce_portal_enabled ) }}
    reviewsVersions: "{{ bookinfo_reviews_versions }}
  ecommercePortal:
    enabled: {{ gloo_portal_enabled and ecommerce_portal_enabled }}
  httpbin: 
    enabled: {{ ( httpbin_enabled or ecommerce_portal_enabled ) }}
  gloo:
    namespace: {{ gloo_system_namespace }}
    portal:
      namespace: {{ gloo_portal_namespace }}
      enabled: {{ gloo_portal_enabled }}
      monetization: {{  ( ecommerce_portal_enabled and gloo_portal_monetization_enabled ) }}
  keycloak:
    enabled: {{ ( keycloak_enabled  or ecommerce_portal_enabled ) | default(false) }}
  petstore:
    enabled: {{ ( petstore_enabled or ecommerce_portal_enabled )  | default(false) }}
